@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to bottom left, #0F2027, #203A43, #2C5364);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  overflow-x:hidden;
  background-attachment: fixed;
}